.btn {
    background:black;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
